@using IActionResultExample.Models

<html>

  <head>

    <title>Report</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <script>
        $(document).ready(function() {  //文件完成後再執行
        function DisplayMqttData(){
          $.ajax({
            url: '@Url.Action("getMqttData", "Home")',
            data: {"type": '@ViewData["thisreport"]'},
            cache: false,
            type: "POST",

            success: function (data){
              //$.each(result, function(index, element){
              //  $('#infraredView').append(
              //    
              //  );
              //  console.log("SUCCESS" + element);
              //});
              var innervalue = JSON.parse(data);
              console.log("SUCCESS  " + innervalue.data);
            },
            error: function (data){
              console.log("FAILED");
            }
          });
        }

        setInterval(function(){
          DisplayMqttData();
        }, 1000);
        });

    </script>
    <script>
        function gotoIndex(){
            location.href = "/"
        }
        function gotoSensor(name){
            location.href = "/ReportSensor?type=" + name
        }
    </script>
  </head>
  <body>
    <div onclick="gotoIndex()">回到開始頁面</div>

      <ul class="menu">
        <li style = "display: inline;" onclick = gotoSensor("Infrared")>紅外線感測器資料</li>
        <li style = "display: inline;" onclick = gotoSensor("InfraredUltrasound")>紅外線超音波感測器資料</li>
        <li style = "display: inline;" onclick = gotoSensor("Shork")>震動感測器資料</li>
        <li style = "display: inline;" onclick = gotoSensor("Humidity")>濕度感測器資料</li>
        
      </ul>

    @if ( (string?)ViewData["thisreport"] == "Infrared"){  // 這裡的[]打錯字不會報錯
        <h2 style="font-size: 40px;">紅外線感測器資料</h2>
    }
    else if ( (string?)ViewData["thisreport"] == "InfraredUltrasound"){
        <h2 style="font-size: 40px;">紅外線超音波感測器資料</h2>
    }
    else if ( (string?)ViewData["thisreport"] == "Shork"){
        <h2 style="font-size: 40px;">震動感測器資料</h2>
    }
    else if ( (string?)ViewData["thisreport"] == "Humidity"){
        <h2 style="font-size: 40px;">震動感測器資料</h2>
    }
    
  </body>

</html>